<!doctype html>
<html class="no-js" lang="de">
<head>
    <meta charset="utf-8">
    <meta content="ie=edge" http-equiv="x-ua-compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>HDH Erleben</title>
    <link href="css/main.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700&display=swap" rel="stylesheet">


</head>
<body>
<div class="header">
    <div class="header-inner">
        <div class="header-logo">
            <a href="/">
                <img alt="Heidenheim Erleben" src="logo.png"/>
            </a>
        </div>
        <div class="header-toggle">
            <span class="header-toggle-button" data-toggle="head-nav">
                <i class="far fa-bars"></i>
                Menü
            </span>
        </div>
        <div class="header-navigation" data-toggler=".header-navigation--is-active" id="head-nav">
            <form action="/" class="search" method="get">
                <input class="search-input" placeholder="Suchen ..." type="text"/>
                <button class="search-submit" type="submit">
                    <i class="far fa-search"></i>
                </button>
            </form>
            <ul class="navigation">
                <li class="navigation-item">
                    <a href="#">
                        <i class="navigation-item-icon far fa-compass"></i>
                        Entdecken
                    </a>
                </li>
                <li class="navigation-item">
                    <a href="#">
                        <i class="navigation-item-icon far fa-calendar"></i>
                        Events
                    </a>
                </li>
                <li class="navigation-item">
                    <a href="#">
                        <i class="navigation-item-icon far fa-bars"></i>
                        Infos
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="container">
    <div class="entryhead">
        <div class="entryhead-main" style="background-image:url('http://placekitten.com/1200/400')">
            <iframe
                    src="https://player.twitch.tv/?channel=nubuk_funandbike&parent=heidenheimerleben.de&muted=true"
                    frameborder="0"
                    scrolling="no"
                    allowfullscreen="true">
            </iframe>
        </div>
        <div class="entryhead-more">
            <div class="entryhead-live">
                <div class="entryhead-live-meta">
                    <img alt="Reinhard Mode"
                         src="https://www.heidenheimerleben.de/site/assets/files/8864/reinhard_logo_zw_4c_rz_neu.jpg"/>
                    <h1>Reinhard Mode</h1>
                    <div class="entryhead-live-actions">
                        <a class="button primary" href="#">
                            <i class="far fa-phone"></i>
                            07321 1234 6789
                        </a>
                    </div>
                </div>
                <div class="entryhead-live-shows">
                    <div class="entryhead-live-shows-entry">
                        <div class="entryhead-live-shows-entry-time">
                            23.03 - 15:00
                        </div>
                        <div class="entryhead-live-shows-entry-title">
                            Die neuen Mountainbikes
                        </div>
                        <div class="entryhead-live-shows-entry-addcal">
                            <a href="#">
                                <i class="far fa-calendar-plus"></i>
                            </a>
                        </div>
                    </div>
                    <div class="entryhead-live-shows-entry">
                        <div class="entryhead-live-shows-entry-time">
                            23.03 - 15:00
                        </div>
                        <div class="entryhead-live-shows-entry-title">
                            Die neuen Mountainbikes
                        </div>
                        <div class="entryhead-live-shows-entry-addcal">
                            <a href="#">
                                <i class="far fa-calendar-plus"></i>
                            </a>
                        </div>
                    </div>
                    <div class="entryhead-live-shows-entry">
                        <div class="entryhead-live-shows-entry-time">
                            23.03 - 15:00
                        </div>
                        <div class="entryhead-live-shows-entry-title">
                            Die neuen Mountainbikes
                        </div>
                        <div class="entryhead-live-shows-entry-addcal">
                            <a href="#">
                                <i class="far fa-calendar-plus"></i>
                            </a>
                        </div>
                    </div>
                    <div class="entryhead-live-shows-entry">
                        <div class="entryhead-live-shows-entry-time">
                            23.03 - 15:00
                        </div>
                        <div class="entryhead-live-shows-entry-title">
                            Die neuen Mountainbikes
                        </div>
                        <div class="entryhead-live-shows-entry-addcal">
                            <a href="#">
                                <i class="far fa-calendar-plus"></i>
                            </a>
                        </div>
                    </div>
                    <div class="entryhead-live-shows-entry">
                        <div class="entryhead-live-shows-entry-time">
                            23.03 - 15:00
                        </div>
                        <div class="entryhead-live-shows-entry-title">
                            Die neuen Mountainbikes
                        </div>
                        <div class="entryhead-live-shows-entry-addcal">
                            <a href="#">
                                <i class="far fa-calendar-plus"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container sticky">
    <div class="sitenav">
        <div class="sitenav-inner">
            <ul class="sitenav-items">
                <li class="sitenav-item">
                    <a class="is-active" href="#scrollto">Bestellen</a>
                </li>
                <li class="sitenav-item">
                    <a  href="#scrollto">Info</a>
                </li>
                <li class="sitenav-item hidden">
                    <a href="#scrollto">Erleben</a>
                </li>
                <li class="sitenav-item">
                    <a href="#scrollto">Kontakt</a>
                </li>
                <li class="sitenav-item">
                    <a href="#scrollto">Bilder</a>
                </li>
            </ul>
            <div class="sitenav-actions">
                <a class="button primary" href="#">
                    <i class="far fa-star"></i>
                    212
                </a>
            </div>
        </div>
    </div>
</div>
<div class="entry-order">
    <div class="entry-order-inner container container--default" data-equalizer data-equalize-on="medium">
        <div class="entry-order-title">
            <h3>Online bestellen</h3>
            <p>Und Artikel abholen <!-- Bei Versand!--> oder direkt nach Hause liefern lassen.</p>
        </div>
        <!-- Equalizer hier bitte wieder einfügen auf .product!-->
        <div class="entry-order-item">
            <div class="product" data-equalizer-watch>
                <div class="product-image">
                    <img src="//placekitten.com/150/150" alt="Product-title"/>
                </div>
                <div class="product-meta">
                    <h4>
                        <a href="#">
                        Some cool product title goes here or here
                        </a>
                    </h4>
                    <div class="product-price">19,99€</div>
                    <a href="#">
                        Mehr Informationen
                    </a>
                </div>
            </div>
        </div>
        <div class="entry-order-item">
            <div class="product">
                <div class="product-image">
                    <img src="//placekitten.com/150/150" alt="Product-title"/>
                </div>
                <div class="product-meta">
                    <h4>
                        <a href="#">
                            Some cool product title goes here or here
                        </a>
                    </h4>
                    <div class="product-price">19,99€</div>
                    <a href="#">
                        Mehr Informationen
                    </a>
                </div>
            </div>
        </div>
        <div class="entry-order-item">
            <div class="product">
                <div class="product-image">
                    <img src="//placekitten.com/150/150" alt="Product-title"/>
                </div>
                <div class="product-meta">
                    <h4>
                        <a href="#">
                            Some cool product title goes here or here
                        </a>
                    </h4>
                    <div class="product-price">19,99€</div>
                    <a href="#">
                        Mehr Informationen
                    </a>
                </div>
            </div>
        </div>
        <div class="entry-order-item">
            <div class="product">
                <div class="product-image">
                    <img src="//placekitten.com/150/150" alt="Product-title"/>
                </div>
                <div class="product-meta">
                    <h4>
                        <a href="#">
                            Some cool product title goes here or here
                        </a>
                    </h4>
                    <div class="product-price">19,99€</div>
                    <a href="#">
                        Mehr Informationen
                    </a>
                </div>
            </div>
        </div>
        <div class="entry-order-item">
            <div class="product">
                <div class="product-image">
                    <img src="//placekitten.com/150/150" alt="Product-title"/>
                </div>
                <div class="product-meta">
                    <h4>
                        <a href="#">
                            Some cool product title goes here or here
                        </a>
                    </h4>
                    <div class="product-price">19,99€</div>
                    <a href="#">
                        Mehr Informationen
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="entry-basics">
    <div class="entry-basics-inner container container--default">
        <div class="entry-basics-text">
            <h3>Damenmode in Heidenheim</h3>
            <p>
                Reinhard Mode ein Modehaus aus Tradition. Seit Generationen stehen wir für beste Qualität, hochwertige
                Marken und erstklassigen Service zu fairen Preisen - das ist unsere oberste Devise und gilt
                selbstverständlich für all unsere Kunden.
                Wir möchten, dass Sie sich bei uns wohlfühlen. Deshalb haben wir uns zum Ziel gesetzt, Sie individuell
                und ausführlich zu beraten, um mit Ihnen gemeinsam das Passende zu finden.
            </p>
            <p>
                Erfreuen Sie sich an unseren spektakulären Events (wie z. B. unsere Modenschau zur Saisoneröffnung) und
                lassen Sie sich bei angenehmer Atmosphäre durch die aktuellen Inspirationen der Saison dahingleiten.
                Ein Einkaufserlebnis der Extraklasse.
                <br><a href="#showmorejsstuff">Weiterlesen (…)</a>
            </p>
            <ul class="entry-basics-brands">
                <li class="entry-basics-brands-title">Unsere Marken</li>
                <li class="entry-basics-brands-item">
                    <a href="#">
                        <img src="//placekitten.com/70/30" alt="Brand Name"/>
                    </a>
                </li>
                <li class="entry-basics-brands-item">
                    <a href="#">
                       Samsung
                    </a>
                </li>
                <li class="entry-basics-brands-item">
                    <a href="#">
                        Apple
                    </a>
                </li>
            </ul>
            <div class="entry-bascis-links">
                <a class="button medium" href="#">
                    <i class="far fa-globe"></i>
                    Webseite
                </a>
                <a class="button medium" href="#contact">
                    <i class="far fa-envelope"></i>
                    Kontakt
                </a>
                <a class="button medium" href="#">
                    <i class="fab fa-facebook"></i>
                    Facebook
                </a>
                <a class="button medium" href="#">
                    <i class="fab fa-instagram"></i>
                    Instagram
                </a>
            </div>
        </div>
        <div class="entry-basics-businesshours">
            <h3>Öffnungszeiten</h3>
            <ul class="business-times">
                <li class="business-times-item">
                    <div class="business-times-day">Montag</div>
                    <div class="business-times-hours">09:30-18:00</div>
                </li>
                <li class="business-times-item">
                    <div class="business-times-day">Dienstag</div>
                    <div class="business-times-hours">09:30-18:00</div>
                </li>
                <li class="business-times-item">
                    <div class="business-times-day">Mittwoch</div>
                    <div class="business-times-hours">09:30-18:00</div>
                </li>
                <li class="business-times-item">
                    <div class="business-times-day">Donnerstag</div>
                    <div class="business-times-hours">09:30-18:00</div>
                </li>
                <li class="business-times-item">
                    <div class="business-times-day">Freitag</div>
                    <div class="business-times-hours">09:30-18:00</div>
                </li>
                <li class="business-times-item">
                    <div class="business-times-day">Samstag</div>
                    <div class="business-times-hours">09:30-16:00</div>
                </li>
            </ul>
            <a class="cityschex" href="#">
                <img about="City Schex"
                     src="https://www.heidenheimerleben.de/site/templates/assets/city-schexs-hdh.png"/>
                <div class="cityschex-inner">
                    Wir akzeptieren gerne <br>
                    City Schexs
                </div>
            </a>
        </div>
        <div class="entry-basics-actions">
            actions für tel und kontakt
        </div>
    </div>
</div>

<div class="entrylink">
    <div class="container container--default">
        <div class="entrylink-title">
            <h3>Erleben</h3>
        </div>
        <div class="entrylink-item">
            <a href="#">
                Tile with experiences here...
            </a>
        </div>
        <div class="entrylink-item">
            <a href="#">
                Tile with experiences here...
            </a>
        </div>
        <div class="entrylink-item">
            <a href="#">
                Tile with experiences here...
            </a>
        </div>
    </div>
    <div class="entrylink-more">
        <a class="button medium" href="#">
            Show all
        </a>
    </div>
</div>

<div class="entrylink">
    <div class="container container--default">
        <div class="entrylink-title">
            <h3>Produkte</h3>
        </div>
        <div class="entrylink-item">
            <a href="#">
                Produktkachel hier
            </a>
        </div>
        <div class="entrylink-item">
            <a href="#">
                Produktkachel hier
            </a>
        </div>
        <div class="entrylink-item">
            <a href="#">
                Produktkachel hier
            </a>
        </div>
    </div>
    <div class="entrylink-more">
        <a class="button medium" href="#">
            Show all
        </a>
    </div>
</div>
<div class="entryarticle">
    <div class="container container--default">
        <div class="article article--has-background">
            <div class="article-content">
                <iframe src="https://www.youtube.com/embed/9aao982p5E0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="article-meta">
                <div class="article-meta-head">
                    <h2>Titel des Artikels</h2>
                    <p>Some description goes jhere</p>
                </div>
                <div class="article-meta-actions">
                    <a href="#linktoheidenheimerzeitung" class="button">
                        Auf HZ.de lesen
                    </a>
                    <a href="#linktoentry" class="button">
                        Über {Entry->Title}
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="entrycontact">
    <div class="container container--default">
        <div class="entrycontact-title">
            <h3>Kontakt</h3>
        </div>
        <div class="entrycontact-cv">
            <a class="button primary" href="#modalwithform">
                <i class="far fa-envelope"></i>
                Nachricht senden
            </a>
            <div class="entrycontact-group">
                <div class="entrycontact-group-icon">
                    <i class="far fa-map-marker"></i>
                </div>
                <div class="entrycontact-group-desc">
                    Reinhard Mode<br>
                    Hauptstraße 47<br>
                    89522 Heidenheim
                </div>
            </div>
            <div class="entrycontact-group">
                <div class="entrycontact-group-icon">
                    <i class="far fa-globe"></i>
                </div>
                <div class="entrycontact-group-desc">
                    <a href="#">www.reinhard-mode.de</a>
                </div>
            </div>
            <div class="entrycontact-group">
                <div class="entrycontact-group-icon">
                    <i class="far fa-envelope"></i>
                </div>
                <div class="entrycontact-group-desc">
                    <a href="mailtp:cryptlink">reinhard@mode-demo.de</a>
                </div>
            </div>
            <div class="entrycontact-group">
                <div class="entrycontact-group-icon">
                    <i class="far fa-phone"></i>
                </div>
                <div class="entrycontact-group-desc">
                    <a href="tel:">07321 4800 443</a>
                </div>
            </div>
        </div>
        <div class="entrycontact-map">
            <div class="entrycontact-map-wrap">
                Map here
            </div>
            <a href="#routenplaner">Route berechnen</a>
        </div>
    </div>
</div>

<div class="entryimages">
    <div class="container container--default">
        <div class="entryimages-title">
            <h3>Bilder</h3>
        </div>
        <div class="entryimages-banner">
            <div class="banner">
                <div class="banner-icon">
                    <img alt="360 Grad Ansicht" src="360deg.svg">
                </div>
                <div class="banner-text">
                    Reinhard Mode bietet einen 360-Grad-Rundgang
                </div>
                <div class="banner-actions">
                    <a class="button primary" href="#" target="_blank">
                        <i class="far fa-external-link"></i>
                        Ansehen
                    </a>
                </div>
            </div>
        </div>
        <div class="entryimages-item">
            <a href="#fullimagewithlightbox">
                <img alt="image1.jpg" src="http://placekitten.com/400/300"/>
            </a>
        </div>
        <div class="entryimages-item">
            <a href="#fullimagewithlightbox">
                <img alt="image1.jpg" src="http://placekitten.com/400/300"/>
            </a>
        </div>
        <div class="entryimages-item">
            <a href="#fullimagewithlightbox">
                <img alt="image1.jpg" src="http://placekitten.com/400/300"/>
            </a>
        </div>
        <div class="entryimages-item">
            <a href="#fullimagewithlightbox">
                <img alt="image1.jpg" src="http://placekitten.com/400/300"/>
            </a>
        </div>
        <div class="entryimages-item">
            <a href="#fullimagewithlightbox">
                <img alt="image1.jpg" src="http://placekitten.com/400/300"/>
            </a>
        </div>
    </div>
</div>

<div class="entryaction">
    <a class="button medium" href="#linktofeedback">
        <i class="far fa-comment-smile"></i>
        Feedback
    </a>
</div>

<div class="footer">
    <div class="footer-inner">
        <div class="container container--default">
            <div class="footer-title">
                Mit Unterstützung von
            </div>
            <div class="footer-sponsors">
                <a href="#">
                    <img src="//placekitten.com/200/100" alt="Sponsor->title"/>
                </a>
                <a href="#">
                    <img src="//placekitten.com/240/100" alt="Sponsor->title"/>
                </a>
                <a href="#">
                    <img src="//placekitten.com/180/100" alt="Sponsor->title"/>
                </a>
                <a href="#">
                    <img src="//placekitten.com/250/100" alt="Sponsor->title"/>
                </a>
            </div>
            <div class="footer-title">
                Immer aktuell bleiben
            </div>
            <div class="footer-social">
                <a href="#" class="footer-social-item">
                    <div class="footer-social-item-icon">
                        <i class="fab fa-facebook"></i>
                    </div>
                    <div class="footer-social-item-label">
                        Facebook
                    </div>
                </a>
            </div>
            <div class="footer-social">
                <a href="#" class="footer-social-item">
                    <div class="footer-social-item-icon">
                        <i class="fab fa-instagram"></i>
                    </div>
                    <div class="footer-social-item-label">
                        Instagram
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="footer-end">
        <div class="container container--default">
            <ul class="footer-end-nav">
                <li class="footer-end-nav-item">
                    <a href="#">
                        Mitmachen
                    </a>
                </li>
                <li class="footer-end-nav-item">
                    <a href="#">
                        Feedback
                    </a>
                </li>
                <li class="footer-end-nav-item">
                    <a href="#">
                        Über uns
                    </a>
                </li>
                <li class="footer-end-nav-item">
                    <a href="#">
                        Kontakt
                    </a>
                </li>
                <li class="footer-end-nav-item">
                    <a href="#">
                        Datenschutz
                    </a>
                </li>
                <li class="footer-end-nav-item">
                    <a href="#">
                        Impressum
                    </a>
                </li>
                <li class="footer-end-nav-item">
                    2019
                </li>
            </ul>
        </div>
    </div>
</div>

<script
        crossorigin="anonymous"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/foundation-sites@6.5.3/dist/js/foundation.min.js"></script>
<script>
    $(document).foundation();
</script>


<script src="https://kit.fontawesome.com/b758d7c863.js"></script>
</body>
</html>