<!doctype html>
<html class="no-js" lang="de">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HDH Erleben</title>
    <link rel="stylesheet" href="css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700&display=swap" rel="stylesheet">


</head>
<body>
<div class="container">
    <div class="entryhead">
        <div class="entryhead-main" style="background-image:url('http://placekitten.com/1200/400')">
            <div class="entryhead-main-title">
                <h1>Reinhard Mode
                    <img src="https://www.heidenheimerleben.de/site/templates/assets/hdh-logo.jpg" alt="H.D.H. Mitglied"/>
                </h1>
            </div>
        </div>
        <div class="entryhead-more">
            <div class="entryhead-logo">
                <img src="https://www.heidenheimerleben.de/site/assets/files/8864/reinhard_logo_zw_4c_rz_neu.jpg" alt="Reinhard Mode"/>
            </div>
            <div class="entryhead-gallery"  style="background-image:url('http://placekitten.com/400/300')">
                <a href="#gallery" class="entryhead-gallery-label">
                    Alle Fotos (4)
                </a>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="sitenav">
        <ul class="sitenav-items">
            <li class="sitenav-item">
                <a class="is-active" href="#scrollto">Info</a>
            </li>
            <li class="sitenav-item">
                <a href="#scrollto">Erleben</a>
            </li>
            <li class="sitenav-item">
                <a href="#scrollto">Produkte</a>
            </li>
            <li class="sitenav-item">
                <a href="#scrollto">Kontakt</a>
            </li>
        </ul>
        <div class="sitenav-actions">
           <a href="#" class="button primary">
               <i class="far fa-star"></i>
               212
               <span class="button-separator"></span>
               Empfehlen
           </a>
        </div>
    </div>
</div>

<script src="https://kit.fontawesome.com/b758d7c863.js"></script>
</body>
</html>

