<!doctype html>
<html class="no-js" lang="de">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HDH Erleben</title>
    <link rel="stylesheet" href="css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700&display=swap" rel="stylesheet">

</head>
<body style="margin:50px;">

<div class="container">
    <h1>Basis</h1>
    <a href="basic.html" class="button">Basis</a>

    <h2>Templates </h2>
    <a href="entry.html" class="button">Entry</a>
    <a href="basic-page.html" class="button">Basic-Page</a>


</div>
</body>
</html>

