<!doctype html>
<html class="no-js" lang="de">
<head>
    <meta charset="utf-8">
    <meta content="ie=edge" http-equiv="x-ua-compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>HDH Erleben</title>
    <link href="css/main.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700&display=swap" rel="stylesheet">


</head>
<body>
<div class="header">
    <div class="header-inner header-inner--has-border">
        <div class="header-logo">
            <a href="/">
                <img alt="Heidenheim Erleben" src="logo.png"/>
            </a>
        </div>
        <div class="header-toggle">
            <span class="header-toggle-button" data-toggle="head-nav">
                <i class="far fa-bars"></i>
                Menü
            </span>
        </div>
        <div class="header-navigation" data-toggler=".header-navigation--is-active" id="head-nav">
            <form action="/" class="search" method="get">
                <input class="search-input" placeholder="Suchen ..." type="text"/>
                <button class="search-submit" type="submit">
                    <i class="far fa-search"></i>
                </button>
            </form>
            <ul class="navigation">
                <li class="navigation-item">
                    <a href="#">
                        <i class="navigation-item-icon far fa-compass"></i>
                        Entdecken
                    </a>
                </li>
                <li class="navigation-item">
                    <a href="#">
                        <i class="navigation-item-icon far fa-calendar"></i>
                        Events
                    </a>
                </li>
                <li class="navigation-item">
                    <a href="#">
                        <i class="navigation-item-icon far fa-bars"></i>
                        Infos
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="directory">
    <div class="container container--default">
        <div class="directory-zero">
            <h3>Keine Ergebnisse</h3>
            <p>Ihre Anfrage nach {Suchbegriff} ergab keine Treffer.</p>
            <a href="#entdecken">Alles anzeigen</a>
        </div>
    </div>
</div>

<div class="footer">
    <div class="footer-inner">
        <div class="container container--default">
            <div class="footer-title">
                Mit Unterstützung von
            </div>
            <div class="footer-sponsors">
                <a href="#">
                    <img src="//placekitten.com/200/100" alt="Sponsor->title"/>
                </a>
                <a href="#">
                    <img src="//placekitten.com/240/100" alt="Sponsor->title"/>
                </a>
                <a href="#">
                    <img src="//placekitten.com/180/100" alt="Sponsor->title"/>
                </a>
                <a href="#">
                    <img src="//placekitten.com/250/100" alt="Sponsor->title"/>
                </a>
            </div>
            <div class="footer-title">
                Immer aktuell bleiben
            </div>
            <div class="footer-social">
                <a href="#" class="footer-social-item">
                    <div class="footer-social-item-icon">
                        <i class="fab fa-facebook"></i>
                    </div>
                    <div class="footer-social-item-label">
                        Facebook
                    </div>
                </a>
            </div>
            <div class="footer-social">
                <a href="#" class="footer-social-item">
                    <div class="footer-social-item-icon">
                        <i class="fab fa-instagram"></i>
                    </div>
                    <div class="footer-social-item-label">
                        Instagram
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="footer-end">
        <div class="container container--default">
            <ul class="footer-end-nav">
                <li class="footer-end-nav-item">
                    <a href="#">
                        Mitmachen
                    </a>
                </li>
                <li class="footer-end-nav-item">
                    <a href="#">
                        Feedback
                    </a>
                </li>
                <li class="footer-end-nav-item">
                    <a href="#">
                        Über uns
                    </a>
                </li>
                <li class="footer-end-nav-item">
                    <a href="#">
                        Kontakt
                    </a>
                </li>
                <li class="footer-end-nav-item">
                    <a href="#">
                        Datenschutz
                    </a>
                </li>
                <li class="footer-end-nav-item">
                    <a href="#">
                        Impressum
                    </a>
                </li>
                <li class="footer-end-nav-item">
                    2019
                </li>
            </ul>
        </div>
    </div>
</div>

<script
        crossorigin="anonymous"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/foundation-sites@6.5.3/dist/js/foundation.min.js"></script>
<script>
    $(document).foundation();
</script>


<script src="https://kit.fontawesome.com/b758d7c863.js"></script>
</body>
</html>