<!doctype html>
<html class="no-js" lang="de">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RegioUI</title>
    <link rel="stylesheet" href="css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Inter:400,700|Vollkorn:600&display=swap" rel="stylesheet">

</head>
<body>
<div class="head">
    <div class="container">
        <div class="header">
            <div class="header-action">
                <a href="#">
                    <i class="far fa-arrow-left"></i>
                    Zurück
                </a>
            </div>
        </div>
        <div class="title">
            <h1>Dein Laden digital im Netz. <br>Mit Schaufenster und Videoberatung</h1>
            <p>Du kannst kostenlos dein Geschäft online anlegen. Triff Kunden im (Video)-Chat und erkläre deine Produkte. So hälst du Kontakt zu deiner Kundschaft, wenn die Ladentür wegen Corona geschlossen bleiben muss.</p>
            <p>Fragen? <a href="#faq">Zur FAQ</a></p>
        </div>
    </div>
</div>
<div class="page">
    <div class="container">
        <div class="inner">
            <h2 class="page-divider">Raum erstellen</h2>
            FORM GOES HERE

            <br>
                <small>
                    Du kannst deinen Raum in Ruhe testen, bevor du ihn für Besucher öffnest. Mit dem Erstellen akzeptierst du unsere <a href="#ag">AGB</a>. Es entstehen dir keine Kosten.
                </small>
        </div>
    </div>
</div>

<script
        crossorigin="anonymous"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/foundation-sites@6.5.3/dist/js/foundation.min.js"></script>
<script>
    $(document).foundation();
</script>


<script src="https://kit.fontawesome.com/b758d7c863.js"></script>
</body>
</html>

