<!doctype html>
<html class="no-js" lang="de">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RegioUI</title>
    <link rel="stylesheet" href="css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Inter:400,700|Vollkorn:600&display=swap" rel="stylesheet">

</head>
<body>
<div class="head head--dark">
    <div class="container">
        <div class="header">
            <div class="header-action">
                <a href="#">
                    <i class="far fa-arrow-left"></i>
                    Heidenheim
                </a>
            </div>
        </div>
        <div class="title">
            <h1>Room Name</h1>
            <p>Some optional text goes here</p>
        </div>
        <div class="poster">
            <div class="poster-live hidden">
                Video goes here?
            </div>
            <div class="poster-image">
                <img src="//placekitten.com/640/360" alt="Title"/>
            </div>
        </div>
        <div class="actions">
            <a href="#" class="button full primary">
                <i class="far fa-hand-paper"></i>
                Online besuchen
            </a>
            <a href="#" class="button full reduced">
                <i class="far fa-phone"></i>
                Anrufen
            </a>
        </div>
    </div>
</div>

<script
        crossorigin="anonymous"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/foundation-sites@6.5.3/dist/js/foundation.min.js"></script>
<script>
    $(document).foundation();
</script>


<script src="https://kit.fontawesome.com/b758d7c863.js"></script>
</body>
</html>

