<!doctype html>
<html class="no-js" lang="de">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HDH Erleben</title>
    <link rel="stylesheet" href="css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Inter:400,700|Vollkorn:600&display=swap" rel="stylesheet">

</head>
<body style="margin:50px;">

<div class="container">
    <h1>Basis</h1>
    <a href="basic.html" class="button">Basis</a>

    <h2>Templates </h2>

</div>

<script
        crossorigin="anonymous"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/foundation-sites@6.5.3/dist/js/foundation.min.js"></script>
<script>
    $(document).foundation();
</script>


<script src="https://kit.fontawesome.com/b758d7c863.js"></script>
</body>
</html>

