<!doctype html>
<html class="no-js" lang="de">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RegioUI</title>
    <link rel="stylesheet" href="css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Inter:400,700|Vollkorn:600&display=swap" rel="stylesheet">

</head>
<body>
<div class="container">
    <div class="header header--is-alone">
        <div class="header-action">
            <a href="#">
                <i class="far fa-arrow-left"></i>
                Zurück
            </a>
        </div>
    </div>
</div>
<div class="panel">
    <div class="container">
        <div class="panel-info">
            <div class="panel-share">
                <h3>Raum erstellt!</h3>
                <p>Teile deinen virtuellen Verkaufsraum mit deinen Kunden:</p>
                <input type="text" value="https://regio.chat/nubuk-fun-and-bike" disabled>
                <a href="#" target="_blank">
                    <i class="far fa-arrow-right"></i>
                    Jetzt ansehen
                </a>
            </div>
        </div>
        <div class="panel-content">
            <div class="faq">
                <div class="faq-item">
                    <h3>Was kostet RegioConcept?</h3>
                    <p>Regio-Concept ist aktuell kostenlos. Wir überegen uns nach der Corona-Krise ein Geschäftsmodell. Wir werden aber vorab euch entsprechend informieren.</p>
                </div>
                <div class="faq-item">
                    <h3>Was kostet RegioConcept?</h3>
                    <p>Regio-Concept ist aktuell kostenlos. Wir überegen uns nach der Corona-Krise ein Geschäftsmodell. Wir werden aber vorab euch entsprechend informieren.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<script
        crossorigin="anonymous"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/foundation-sites@6.5.3/dist/js/foundation.min.js"></script>
<script>
    $(document).foundation();
</script>


<script src="https://kit.fontawesome.com/b758d7c863.js"></script>
</body>
</html>

