<!doctype html>
<html class="no-js" lang="de">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RegioUI</title>
    <link rel="stylesheet" href="css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Inter:400,700|Vollkorn:600&display=swap" rel="stylesheet">

</head>
<body class="dark">
<div class="head head--dark">
    <div class="container">
        <div class="header">
            <div class="header-action">
                <a href="#">
                    <i class="far fa-arrow-left"></i>
                    Verlassen
                </a>
            </div>
        </div>
        <div class="title">
            <h1>Room Name</h1>
        </div>
        <div class="stream stream--guest">
            <div class="stream-view stream-view--host">
                Video goes here
            </div>
            <div class="stream-view stream-view--guest">
                guest goes here
            </div>
        </div>
        <div class="controls">
            Floating controls here
        </div>
    </div>
</div>

<script
        crossorigin="anonymous"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/foundation-sites@6.5.3/dist/js/foundation.min.js"></script>
<script>
    $(document).foundation();
</script>


<script src="https://kit.fontawesome.com/b758d7c863.js"></script>
</body>
</html>

