
//
//   Common used CSS
//
body {
  font-size: rem-calc(15);
}
a {
  color: inherit;
}

p a {
  color: $primary-color;
  &:hover {
    text-decoration: underline;
  }
}
//Visibility
.hidden {
  display: none !important;
  visibility: hidden !important;
  opacity: 0;
}
.visible {
  display: inline-block;
  visibility: visible;
  opacity: 1;
}

//Headings
h1 {
  text-transform: uppercase;
}
// Icons (SVG)
.icon {
  max-width: 100px;
  max-height: 100px;
  fill: $black;
}

//Offline page
.offline {
  width: 100%;
  height: 600px;
  height: 100vh;
  background-color: $light-gray;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: $z-index-clouds;
  opacity: .9999;
  img {
    max-width: 130px;
  }
  &-inner {
    padding: 20px 50px;
    background-color: $white;
    text-align: center;
  }
}

//Message
.banner {
  width: 100%;
  background-color: $light-gray;
  border-bottom: 1px solid $medium-gray;
  text-align: center;
  padding: $spacing*2 $spacing;
  p {
    margin-bottom: 0;
  }
}