
//
//   Common used CSS
//
body {
  font-size: rem-calc(15);
}

p a {
  color: $primary-color;
  &:hover {
    text-decoration: underline;
  }
}
//Visibility
.hidden {
  display: none !important;
  visibility: hidden !important;
  opacity: 0;
}
.visible {
  display: inline-block;
  visibility: visible;
  opacity: 1;
}

// Icons (SVG)
.svg {
  max-width: 100px;
  max-height: 100px;
  fill: $black;
}