
//
//   Common used CSS
//
body {
  font-size: rem-calc(15);
}
a {
  color: inherit;
}

p a {
  color: $primary-color;
  &:hover {
    text-decoration: underline;
  }
}
//Visibility
.hidden {
  display: none !important;
  visibility: hidden !important;
  opacity: 0;
}
.visible {
  display: inline-block;
  visibility: visible;
  opacity: 1;
}

//Headings
h1 {
  text-transform: uppercase;
}
// Icons (SVG)
.icon {
  max-width: 100px;
  max-height: 100px;
  fill: $black;
}