<!doctype html>
<html class="no-js" lang="de">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HDH Erleben</title>
    <link rel="stylesheet" href="css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700" rel="stylesheet">

</head>
<body>
<!-- inject: ./../../dist/assets/svg/icons.svg-->
<div class="container">
    <div class="full">
        <h1>Text</h1>
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. </p>
        <h2>Überschrift Zwei</h2>
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. </p>
        <h3>Weitere Überschrift in Größe 3</h3>
        <p>Weitere Text und ein <a href="#">Hyperlink</a>.</p>
        <h4>Größe Vier und Bilder</h4>
        <p>
            Ein Beispiel
        </p>
        <img src="https://via.placeholder.com/200x100"/>
        <p>Zwei Absätze</p>
        <hr>
        <h1>Elemente</h1>
        <p>Beispiele</p>
        <p><a href="#" class="button">Primär</a></p>
        <p><a href="#" class="button secondary">Sekundär</a></p>
        <hr>
        <h1>Formulare</h1>
        <p>Beispiele</p>
        <form>
            <label>
                Eingabe
                <input type="text" placeholder="Platzhalter"/>
            </label>
            <button type="submit" class="button primary">Absenden</button>
        </form>
        <br><br>
    </div>
</div>
</body>
</html>

