<!doctype html>
<html class="no-js" lang="de">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HDH Erleben</title>
    <link rel="stylesheet" href="css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700" rel="stylesheet">

</head>
<body>
<!-- inject: ./../../dist/assets/svg/icons.svg-->
<h1>Single entry</h1>
<div class="example">
    <div class="container container--medium">
        <div class="business">
            <div class="business-head">
                <div class="business-image">
                    <img src="http://hdh.conclurer.com/site/assets/files/8572/pr_3304.500x300.jpg"
                         alt="Conclurer GmbH Heidenheim"/>
                </div>
                <div class="business-meta">
                    <h1>Conclurer GmbH</h1>
                    <p class="business-adress">
                        Friedrichstraße 3<br>
                        <a href="https://www.conclurer.com">www.conclurer.com</a><br>
                        Mail: <a href="mailto:kontakt@conclurer.com">info@bonita.de</a>
                    </p>
                    <div class="business-times">
                        Geöffnet: #TODO
                    </div>
                </div>
            </div>
            <div class="business-content">
                <div class="business-description">
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
                        ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo
                        dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor
                        sit amet.</p>
                </div>
                <div class="business-location">
                    Location #TODO
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>

