<!doctype html>
<html class="no-js" lang="de">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HDH Erleben</title>
    <link rel="stylesheet" href="css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700" rel="stylesheet">

</head>
<body>
<!-- inject: ./../../dist/assets/svg/icons.svg-->
<h1>Entries</h1>
<div class="example">
    <div class="entries">
        <div class="container" data-equalizer data-equalize-on="medium">
            <div class="entries-item">
                <a href="#" class="entry" data-equalizer-watch>
                    <div class="entry-image">
                        <img src="https://i.imgur.com/I0vIHe7.jpg" alt="s.Oliver"/>
                    </div>
                    <div class="entry-meta">
                        <div class="entry-logo">
                            <img src="https://i.imgur.com/zDzeIrq.jpg" alt="s.Oliver Logo"/>
                        </div>
                        <h4>s. Oliver</h4>
                        <p class="entry-slugline">Eine kurze Beschreibung</p>
                        <span class="entry-anchor">Mehr Info</span>
                    </div>
                </a>
            </div>
            <div class="entries-item">
                <a href="#" class="entry" data-equalizer-watch>
                    <div class="entry-image">
                        <img src="https://i.imgur.com/I0vIHe7.jpg" alt="s.Oliver"/>
                    </div>
                    <div class="entry-meta">
                        <div class="entry-logo">
                            <img src="https://i.imgur.com/zDzeIrq.jpg" alt="s.Oliver Logo"/>
                        </div>
                        <h4>s. Oliver</h4>
                        <p class="entry-slugline">Eine kurze Beschreibung</p>
                        <span class="entry-anchor">Mehr Info</span>
                    </div>
                </a>
            </div>
            <div class="entries-item">
                <a href="#" class="entry" data-equalizer-watch>
                    <div class="entry-image">
                        <img src="https://i.imgur.com/I0vIHe7.jpg" alt="s.Oliver"/>
                    </div>
                    <div class="entry-meta">
                        <div class="entry-logo">
                            <img src="https://i.imgur.com/zDzeIrq.jpg" alt="s.Oliver Logo"/>
                        </div>
                        <h4>s. Oliver</h4>
                        <p class="entry-slugline">Eine kurze Beschreibung</p>
                        <span class="entry-anchor">Mehr Info</span>
                    </div>
                </a>
            </div>
            <div class="entries-item">
                <a href="#" class="entry" data-equalizer-watch>
                    <div class="entry-image">
                        <img src="https://i.imgur.com/I0vIHe7.jpg" alt="s.Oliver"/>
                    </div>
                    <div class="entry-meta">
                        <div class="entry-logo">
                            <img src="https://i.imgur.com/zDzeIrq.jpg" alt="s.Oliver Logo"/>
                        </div>
                        <h4>s. Oliver</h4>
                        <p class="entry-slugline">Eine kurze Beschreibung</p>
                        <span class="entry-anchor">Mehr Info</span>
                    </div>
                </a>
            </div>
            <div class="entries-item">
                <a href="#" class="entry" data-equalizer-watch>
                    <div class="entry-image">
                        <img src="https://i.imgur.com/I0vIHe7.jpg" alt="s.Oliver"/>
                    </div>
                    <div class="entry-meta">
                        <div class="entry-logo">
                            <img src="https://i.imgur.com/zDzeIrq.jpg" alt="s.Oliver Logo"/>
                        </div>
                        <h4>s. Oliver</h4>
                        <p class="entry-slugline">Eine kurze Beschreibung</p>
                        <span class="entry-anchor">Mehr Info</span>
                    </div>
                </a>
            </div>
            <div class="entries-item">
                <a href="#" class="entry" data-equalizer-watch>
                    <div class="entry-image">
                        <img src="https://i.imgur.com/I0vIHe7.jpg" alt="s.Oliver"/>
                    </div>
                    <div class="entry-meta">
                        <div class="entry-logo">
                            <img src="https://i.imgur.com/zDzeIrq.jpg" alt="s.Oliver Logo"/>
                        </div>
                        <h4>s. Oliver</h4>
                        <p class="entry-slugline">Eine kurze Beschreibung</p>
                        <span class="entry-anchor">Mehr Info</span>
                    </div>
                </a>
            </div>
            <div class="entries-item">
                <a href="#" class="entry" data-equalizer-watch>
                    <div class="entry-image">
                        <img src="https://i.imgur.com/I0vIHe7.jpg" alt="s.Oliver"/>
                    </div>
                    <div class="entry-meta">
                        <div class="entry-logo">
                            <img src="https://i.imgur.com/zDzeIrq.jpg" alt="s.Oliver Logo"/>
                        </div>
                        <h4>s. Oliver</h4>
                        <p class="entry-slugline">Eine kurze Beschreibung</p>
                        <span class="entry-anchor">Mehr Info</span>
                    </div>
                </a>
            </div>
            <div class="entries-item">
                <a href="#" class="entry" data-equalizer-watch>
                    <div class="entry-image">
                        <img src="https://i.imgur.com/I0vIHe7.jpg" alt="s.Oliver"/>
                    </div>
                    <div class="entry-meta">
                        <div class="entry-logo">
                            <img src="https://i.imgur.com/zDzeIrq.jpg" alt="s.Oliver Logo"/>
                        </div>
                        <h4>s. Oliver</h4>
                        <p class="entry-slugline">Eine kurze Beschreibung</p>
                        <span class="entry-anchor">Mehr Info</span>
                    </div>
                </a>
            </div>
            <div class="entries-item">
                <a href="#" class="entry" data-equalizer-watch>
                    <div class="entry-image">
                        <img src="https://i.imgur.com/I0vIHe7.jpg" alt="s.Oliver"/>
                    </div>
                    <div class="entry-meta">
                        <div class="entry-logo">
                            <img src="https://i.imgur.com/zDzeIrq.jpg" alt="s.Oliver Logo"/>
                        </div>
                        <h4>s. Oliver</h4>
                        <p class="entry-slugline">Eine kurze Beschreibung</p>
                        <span class="entry-anchor">Mehr Info</span>
                    </div>
                </a>
            </div>
            <div class="entries-item">
                <a href="#" class="entry" data-equalizer-watch>
                    <div class="entry-image">
                        <img src="https://i.imgur.com/I0vIHe7.jpg" alt="s.Oliver"/>
                    </div>
                    <div class="entry-meta">
                        <div class="entry-logo">
                            <img src="https://i.imgur.com/zDzeIrq.jpg" alt="s.Oliver Logo"/>
                        </div>
                        <h4>s. Oliver</h4>
                        <p class="entry-slugline">Eine kurze Beschreibung</p>
                        <span class="entry-anchor">Mehr Info</span>
                    </div>
                </a>
            </div>
            <div class="entries-item">
                <a href="#" class="entry" data-equalizer-watch>
                    <div class="entry-image">
                        <img src="https://i.imgur.com/I0vIHe7.jpg" alt="s.Oliver"/>
                    </div>
                    <div class="entry-meta">
                        <div class="entry-logo">
                            <img src="https://i.imgur.com/zDzeIrq.jpg" alt="s.Oliver Logo"/>
                        </div>
                        <h4>s. Oliver</h4>
                        <p class="entry-slugline">Eine kurze Beschreibung</p>
                        <span class="entry-anchor">Mehr Info</span>
                    </div>
                </a>
            </div>
            <div class="entries-item">
                <a href="#" class="entry entry--center" data-equalizer-watch>
                    <div class="entry-meta">
                        <span class="button info">Mehr Tourismus</span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

/* Rectangle: */
background: #FFFFFF;
box-shadow: 6px 6px 2px 1px rgba(0,0,0,0.28);

<script type="application/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="application/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.1/js/foundation.min.js"></script>
<script type="application/javascript">
    $(document).foundation();
</script>
</body>
</html>

