<!doctype html>
<html class="no-js" lang="de">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HDH Erleben</title>
    <link rel="stylesheet" href="css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700" rel="stylesheet">

</head>
<body>
<!-- inject: ./../../dist/assets/svg/icons.svg-->
<h1>Event list</h1>
<div class="example">
    <div class="events">
        <div class="container container--medium">
            <div class="events-item">
                <a href="#" class="event">
                    <div class="event-image">
                        <img src="https://unsplash.it/320/400?image=1067" alt="Eventname"/>
                    </div>
                    <div class="event-meta">
                        <h2>Heidenheimer City Autoshow</h2>
                        <h3>01. Dezember</h3>
                        <p>Mit verkaufsoffenem Sonntag</p>
                        <span class="event-anchor">Mehr Infos</span>
                    </div>
                </a>
            </div>
            <div class="events-item">
                <a href="#" class="event">
                    <div class="event-image">
                        <img src="https://unsplash.it/320/400?image=1067" alt="Eventname"/>
                    </div>
                    <div class="event-meta">
                        <h2>Heidenheimer City Autoshow</h2>
                        <h3>01. Dezember</h3>
                        <p>Mit verkaufsoffenem Sonntag</p>
                        <span class="event-anchor">Mehr Infos</span>
                    </div>
                </a>
            </div>
            <div class="events-item">
                <a href="#" class="event">
                    <div class="event-image">
                        <img src="https://unsplash.it/320/400?image=1067" alt="Eventname"/>
                    </div>
                    <div class="event-meta">
                        <h2>Heidenheimer City Autoshow</h2>
                        <h3>01. Dezember</h3>
                        <p>Mit verkaufsoffenem Sonntag</p>
                        <span class="event-anchor">Mehr Infos</span>
                    </div>
                </a>
            </div>
            <div class="events-item">
                <a href="#" class="event">
                    <div class="event-image">
                        <img src="https://unsplash.it/320/400?image=1067" alt="Eventname"/>
                    </div>
                    <div class="event-meta">
                        <h2>Heidenheimer City Autoshow</h2>
                        <h3>01. Dezember</h3>
                        <p>Mit verkaufsoffenem Sonntag</p>
                        <span class="event-anchor">Mehr Infos</span>
                    </div>
                </a>
            </div>
        </div>
        <div class="full full--center full--padded">
            <a href="#" class="button">Weitere Veranstaltungen</a>
        </div>
    </div>
</div>

<script type="application/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="application/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.1/js/foundation.min.js"></script>
<script type="application/javascript">
    $(document).foundation();
</script>
</body>
</html>

