<!doctype html>
<html class="no-js" lang="de">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HDH Erleben</title>
    <link rel="stylesheet" href="css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700" rel="stylesheet">

</head>
<body>
<!-- inject: ./../../dist/assets/svg/icons.svg-->
<h1>Footer</h1>
<div class="example">
    <footer class="footer">
        <div class="container">
            <ul class="footer-inner">
                <li class="footer-inner-item">
                    <a href="#">Kontakt</a>
                </li>
                <li class="footer-inner-item">
                    <a href="#">Impressum</a>
                </li>
            </ul>
        </div>
    </footer>
</div>
</body>
</html>

