<!doctype html>
<html class="no-js" lang="de">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HDH Erleben</title>
    <link rel="stylesheet" href="css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700" rel="stylesheet">

</head>
<body>
<!-- inject: ./../../dist/assets/svg/icons.svg-->
<div class="container">
    <h1>Basis</h1>
    <a href="basic.html" class="button">Basis</a>
    <a href="header.html" class="button">Header</a>
    <a href="hero.html" class="button">Hero</a>
    <a href="tabs.html" class="button">Tabs</a>
    <a href="footer.html" class="button">Footer</a>
    <h2>Special elements</h2>
    <a href="home-columns.html" class="button">Columns Home</a>
    <a href="material-groups.html" class="button">Material groups</a>
    <a href="entries-list.html" class="button">Entries (list)</a>
    <a href="events.html" class="button">Event list</a>
    <h2>Layouts</h2>
    <a href="layout-example.html" class="button">Gesamt Beispiel</a>
</div>
</body>
</html>

