<!doctype html>
<html class="no-js" lang="de">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HDH Erleben</title>
    <link rel="stylesheet" href="css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700" rel="stylesheet">

</head>
<body>
<!-- inject: ./../../dist/assets/svg/icons.svg-->
<h1>Tabs</h1>
<div class="example">
    <div class="tabs">
        <div class="container">
           <div class="abc">
               <a href="#" class="abc-item">
                   A
               </a>
               <a href="#" class="abc-item">
                   B
               </a>
               <a href="#" class="abc-item">
                   C
               </a>
               <a href="#" class="abc-item">
                   D
               </a>
               <a href="#" class="abc-item">
                   E
               </a>
               <a href="#" class="abc-item">
                   F
               </a>
               <a href="#" class="abc-item">
                   G
               </a>
               <a href="#" class="abc-item">
                   H
               </a>
               <a href="#" class="abc-item">
                   I
               </a>
               <a href="#" class="abc-item">
                   J
               </a>
               <a href="#" class="abc-item">
                   K
               </a>
               <a href="#" class="abc-item">
                   L
               </a>
               <a href="#" class="abc-item">
                   M
               </a>
               <a href="#" class="abc-item">
                   N
               </a>
               <a href="#" class="abc-item">
                   O
               </a>
               <a href="#" class="abc-item">
                   P
               </a>               <a href="#" class="abc-item">
               Q
           </a>
               <a href="#" class="abc-item">
                   R
               </a>
               <a href="#" class="abc-item">
                   S
               </a>
               <a href="#" class="abc-item">
                   T
               </a>
               <a href="#" class="abc-item">
                   U
               </a>
               <a href="#" class="abc-item">
                   V
               </a>
               <a href="#" class="abc-item">
                   W
               </a>
               <a href="#" class="abc-item">
                   X
               </a>
               <a href="#" class="abc-item">
                   Y
               </a>
               <a href="#" class="abc-item">
                   Z
               </a>

           </div>
        </div>
    </div>
</div>
</body>
</html>

