<!doctype html>
<html class="no-js" lang="de">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HDH Erleben</title>
    <link rel="stylesheet" href="css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700" rel="stylesheet">

</head>
<body>
<!-- inject: ./../../dist/assets/svg/icons.svg-->
<h1>Tabs</h1>
<div class="example">
    <div class="tabs">
        <div class="container">
            <div class="tabs-inner">
                <a href="#" class="tab">
                    <div class="tab-icon">
                        <svg class="svg">
                            <use xlink:href="#cart"/>
                        </svg>
                    </div>
                    <div class="tab-label">
                        Einkaufen
                    </div>
                </a>
                <a href="#" class="tab tab--active">
                    <div class="tab-icon">
                        <svg class="svg">
                            <use xlink:href="#cart"/>
                        </svg>
                    </div>
                    <div class="tab-label">
                        Dienstleistungen
                    </div>
                </a>
                <a href="#" class="tab">
                    <div class="tab-icon">
                        <svg class="svg">
                            <use xlink:href="#cart"/>
                        </svg>
                    </div>
                    <div class="tab-label">
                        Gastronomie
                    </div>
                </a>
                <a href="#" class="tab">
                    <div class="tab-icon">
                        <svg class="svg">
                            <use xlink:href="#cart"/>
                        </svg>
                    </div>
                    <div class="tab-label">
                        Anfahrt
                    </div>
                </a>
                <a href="#" class="tab">
                    <div class="tab-icon">
                        <svg class="svg">
                            <use xlink:href="#cart"/>
                        </svg>
                    </div>
                    <div class="tab-label">
                        Veranstaltungen
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
</body>
</html>

