//
// Business entry
//
.business {
  background-color: $white;
  margin: $spacing*2 $spacing;
  box-shadow: 8px 8px 12px 0px rgba($dark-gray,.8);
  &-head {
    @include breakpoint(medium) {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
    }
  }
  &-image {
    @include breakpoint(medium) {
      padding: $spacing;
      width: 50%;
      margin-top: 50px;
      img {
        max-width: 420px;
        height: auto;
        width: 100%;
      }
    }
  }
  &-meta {
    padding: $spacing;
    color: darken($dark-gray,20%);
    h1 {
      font-weight: $global-weight-normal;
      text-transform: uppercase;
      margin-bottom: $spacing/2;
      font-size: rem-calc(34);
    }
    @include breakpoint(medium) {
      flex-grow: 1;
      padding-top: $spacing*4;
      p {
        margin-bottom: 0;
      }
    }
    &-slagline {
      font-size: rem-calc(18);
      text-transform: uppercase;
      margin-bottom: $spacing*3;
      display: block;
    }
    a {
      color:  darken($dark-gray,20%);
    }
  }
  &-social {
    margin: $spacing 0;
    list-style: none;
    display: flex;
    align-items: center;
    &-item {
      margin-right: $spacing*2;
      .icon {
        max-width: 48px;
        max-height: 48px;
        fill: $dark-gray;
      }
      &:hover .icon {
        fill: $primary-color;
      }
    }
  }
  &-times {
    margin: $spacing*2 0;
    list-style: none;
    line-height: 1.3;
    @include breakpoint(medium) {
      margin-top: $spacing*2;
    }
    &-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      @include breakpoint(medium) {
        max-width: 320px;
      }
    }
    &-day {
      flex-grow: 1;
    }
  }
  &-content {
    @include breakpoint(medium) {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
    }
  }
  &-description {
   padding: $spacing;
    @include breakpoint(medium) {
      width: 50%;
    }
  }
  &-location {
    padding: $spacing;
    @include breakpoint(medium) {
      width: 50%;
    }
  }
  &-images {
    //padding: $spacing;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    &-item {
      width: 50%;
      padding: $spacing;
      @include breakpoint(medium) {
        width: 25%;
      }
    }
  }
}

.route {
  display: flex;
  align-items: center;
  margin-top: $spacing;
  &-icon {
    padding: $spacing;
    line-height: 0;
    .icon {
      max-width: 24px;
      max-height: 24px;
    }
  }
  &-action {
  }
}