//
// Grid helpers
//
.container {
  width: 100%;
  max-width: $global-width;
  margin: 0 auto;
  @include clearfix();
  &--full {
    max-width: 100%;
  }
  &--medium {
    max-width: $global-width * .85;
  }
  &--small {
    max-width: $global-width * .55;
  }
}

.full {
  @include grid-col(12);
  &--center {
    text-align: center;
  }
  &--padded {
    padding-top: $spacing*2;
    padding-bottom: $spacing*2;
  }
}
.spacer {
  @include grid-col(12);
  padding-top:30px;
  padding-bottom:30px;
}