//
// Header
//
$header-height-mobile: 48px;

.header {
  background-color: $white;
  position: relative;
  width: 100%;
  &-inner {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    height: $header-height-mobile;

  }
  &-logo {
    flex-grow: 1;
    align-self: flex-end;
  }
  &-toggle {
    padding: $spacing;
    width: 50px;
    align-self: stretch;
    line-height: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;
    .svg {
      max-width: 24px;
      max-height: 24px;
      fill: $dark-gray;
    }
    //Toggle X symbol
    .svg--close {
      @include hidden();
      max-width: 20px;
      max-height: 20px;
    }
    &--active {
      .svg--close {
        display: block;
        visibility: visible;
      }
      .svg--icon {
        @include hidden();
      }
    }
  }
  &-navigation {
    margin: 0;
    list-style: none;
    &-item {
      text-transform: uppercase;
      letter-spacing: .1em;
      padding: $spacing/2 0;
    }
  }
  &-menu {
    position: absolute;
    @include hidden();
    &--active {
      @include breakpoint(small only) {
        display: block;
        visibility: visible;
        position: absolute;
        top: $header-height-mobile;
        left: $spacing*2;
        right: $spacing*2;
        width: auto;
        background-color: rgba($medium-gray,.75);
        padding: $spacing;
        padding-left: $spacing*4;
        z-index: $z-index-tower;
      }
    }
  }
  &-search {
    width: 100%;
    @include hidden();
    &--active {
      @include breakpoint(small only) {
        visibility: visible;
        position: absolute;
        top: $header-height-mobile;
        left: $spacing*2;
        right: $spacing*2;
        width: auto;
        height: 300px;
        background-color: rgba($medium-gray,.75);
        padding: $spacing*2;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
        z-index: $z-index-tower;
      }
    }
    &-title {
      font-size: rem-calc(21);
      text-transform: uppercase;
    }
    &-form {
      padding: $spacing;
      input {
        background-color: $white;
        border-color: $white;
        &:focus {
          border-color: $white;
        }
      }
    }
  }
}