//
// faq
//
.faq {
  margin-top: $spacing*2;
  //padding-top: $spacing;
  //border-top: 2px solid darken($accent-color,5%);
  &-item {
    padding-bottom: $spacing*2;
    border-bottom: 2px solid darken($accent-color,5%);
    margin-bottom: $spacing*2;
    p:last-child {
      margin-bottom: 0;
    }
  }
}