//
// Container for widths
//
.container {
  margin: 0 auto;
  width: 100%;
  max-width: rem-calc(840);

  @include clearfix();

  &--default {
    margin: 0 auto;
    width: 100%;
    max-width: rem-calc($base-container-width);
  }

  &--slim {
    margin: 0 auto;
    width: 100%;
    max-width: rem-calc(730);
  }

  &--center {
    margin: 0 auto;
    width: auto;
  }
}
.inner {
  @include grid-col(12);
}

.live .container {
  @include breakpoint(large) {
    max-width: 90%;
  }
}