//
// Panel (Admin area for entries)
//
.panel {
  padding-top: $spacing;
  &-info {
    @include grid-col(12);
    @include breakpoint(large) {
      @include grid-col(5);
    }
  }
  &-content {
    @include grid-col(12);
    @include breakpoint(large) {
      @include grid-col(7);
      .faq {
        margin-top: 0;
      }
    }
  }

  &-share {
    background-color: $primary-color;
    border-radius: $global-radius;
    padding: $spacing*2;
    color: $accent-color;

    a {
      &:hover {
        color: $warning-color;
      }
    }
  }
}