//
// Title
//

.title {
  @include grid-col(12);
  padding-top: $spacing;
  padding-bottom: $spacing;

  @include breakpoint(medium) {
    p {
      padding-right: 20%;
    }
  }
  p:last-child {
    margin-bottom: 0;
  }
}