//
// Material groups
//
.groups {
  padding: $spacing*2 0;
  &-item {
    @include grid-col(12);
    padding-bottom: $spacing;
    @include breakpoint(medium) {
      @include grid-col(4);
      padding-bottom: $spacing*2;
      //The stupid part of Foundation
      &:last-child:not(:first-child) {
        float: left;
      }
    }
    @include breakpoint(large) {
      @include grid-col(3);
      &:last-child:not(:first-child) {
        float: left;
      }
    }
  }
}


//Single group
.group {
  background-color: $light-gray;
  padding: $spacing*2 $spacing;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include breakpoint(medium) {
    padding: $spacing*4 $spacing;
    transition: all .1s;
    &:hover {
      background-color: $medium-gray;
    }
  }
  &-title {
    font-weight: $global-weight-normal;
    text-transform: uppercase;
    color: $dark-gray;
    padding-bottom: $spacing/2;
  }
  &-label {
    font-size: rem-calc(13);
    color: $alert-color;
    text-transform: uppercase;
  }
}