//
// tile for an experience
//
.discovertile {

  &-title {
    color: $primary-color;
    padding: $spacing 0;
    display: block;
  }

  &-categorie {

    color: $black;
    margin-right: 2px;
    font-size: rem-calc(13);
    @include breakpoint(large) {
      display: block;
      font-size: rem-calc(17);
      background-color: transparent;
      padding: $spacing/2 0;
    }
  }
}