//
// Entry tile for previews
//
.entrytile {
  padding-bottom: $spacing;
  &-image {
    position: relative;
    padding-bottom: $spacing;
    display: block;
    img {
      width: 100%;
      height: 150px;
      object-fit: cover;
      border-radius: $global-radius;
      @include breakpoint(medium) {
        height: auto;
      }
    }
    color: $black;
    &:hover {
      color: $black;
    }
  }
  &-title {
    color: $primary-color;
  }
  &-open {
    position: absolute;
    bottom: $spacing*2;
    right: $spacing;
    background-color: $white;
    display: block;
    padding: $spacing/2;
    .far {
      color: $success-color;
    }
  }

  &-link {
    display: block;
    color: $dark-gray;
  }
}