//
// Homepage elements
//

.home {
  padding-bottom: $spacing;

  &--background {
    background-color: $light-gray;
  }
  &--spaced {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  &-title {
    @include grid-col(12);
    padding-top: $spacing*2;
    padding-bottom: $spacing;
    @include breakpoint(large) {
      padding-bottom: $spacing*2;
    }
  }
  &-tile {
    @include grid-col(12);
    padding-bottom: $spacing;

    @include breakpoint(medium) {
      @include grid-col(6);
      padding-bottom: $spacing*2;
    }
    @include breakpoint(large) {
      @include grid-col(4);
    }
    &:last-child:not(:first-child) {
      float: left !important;
    }
  }

  &-event {
    @include grid-col(6);
    padding-bottom: $spacing;
    @include breakpoint(medium) {
      @include grid-col(3);
    }
  }
  &-more {
    @include grid-col(12);
    padding: $spacing;
    text-align: center;
    a {
      color: $primary-color;
      text-decoration: underline;
    }
  }
}

.livehome {
  margin-bottom: $spacing;
  padding: $spacing;
  //background-color: $light-gray;
  .entryhead-live-shows {
    border-bottom: none !important;
  }
  @include breakpoint(medium) {
    padding: $spacing*3;
    margin-bottom: $spacing*2;
  }
  @include breakpoint(large) {
    .entryhead-live-shows {
      max-height: 418px;
    }
  }
  &-info {
    margin: $spacing 0;
    padding: $spacing;
    background-color: $white;
    border-radius: $global-radius;
    @include breakpoint(small only) {
      visibility: hidden;
      height: 0;
    }
    h1 {
      font-size: rem-calc(17);
      display: inline;
      margin-bottom: 0;
    }
  }
  &-shows {
    iframe {

    }
    .entryhead-live-shows {
      max-height: 100%;
      &-entry {
        @include breakpoint(medium) {
          display: flex;
          align-items: center;
          justify-content: space-between;

          &-owner {
            flex-grow: 1;
            text-align: right;
            padding-right: 25px;
          }
          &-time {
            padding-right: $spacing;
          }
        }
      }
    }
  }

  &-stage {
    @include grid-col(12);
    position: relative;
    padding-bottom: $spacing;
  }
}


.globalnotice {
  background-color: $light-gray;
  padding: $spacing;
  color: $black;
  font-size:$small-font-size;

  @include breakpoint(medium) {
    padding: $spacing*2;
    font-size: rem-calc(17);
  }
}