//
// Overwrites Foundation
//
.button.primary, .button {
  color: $black;
  background-color: $warning-color;
  @include breakpoint(medium) {
    &:hover {
      color: $black;
      background-color: $accent-color;
    }
  }
}
.button {
  text-decoration: none;
}
.button svg {
  margin-right: $spacing;
}
.button.secondary {
  color: $accent-color;
  @include breakpoint(medium) {
    &:hover {
      color: $accent-color;
      background-color: #1A936F;
    }
  }
}
.button.reduced {
  background-color: rgba($accent-color,.2);
  color: $accent-color;
}
.button-separator {
  height: 40px;
  width: 1px;
  display: inline-block;
  background-color: rgba($white,.5);
  margin-top: -.85em;
  margin-bottom: -.85em;
  margin-left: $spacing;
  margin-right: $spacing;
}