//
// Overwrites Foundation
//
.button.primary, .button {
  color: $white;
  @include breakpoint(medium) {
    &:hover {
      color: $white;
      background-color: #D62B00;
    }
  }
}
.button-separator {
  height: 40px;
  width: 1px;
  display: inline-block;
  background-color: rgba($white,.5);
  margin-top: -.85em;
  margin-bottom: -.85em;
  margin-left: $spacing;
  margin-right: $spacing;
}